parameters:
    level: 6
    paths:
        - src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Call to an undefined method PHPMD\\Node\\ClassNode::#'
